Node-RED Flow 5.json
[
    {
        "id": "5703e6528b0dc7a0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62ba1a5ef035977b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4188ebff080422ca",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fa930940912b2c5",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf78eaa476ed5bd8",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ec62329b79b3db5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "light intensity",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6380049203b23b18",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "191b23868bb87b28",
        "type": "ui_group",
        "name": "Default",
        "tab": "0ec62329b79b3db5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ecf0c7db14398a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "181107@broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35b3dfa37a53face",
        "type": "ui_tab",
        "name": "News Feed",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74f524f3b6c18060",
        "type": "ui_group",
        "name": "Default",
        "tab": "35b3dfa37a53face",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be387544eb9114c5",
        "type": "ui_group",
        "name": "Default",
        "tab": "35b3dfa37a53face",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "686052dd0840d506",
        "type": "debug",
        "z": "5703e6528b0dc7a0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "53792469b2e697e7",
        "type": "mqtt out",
        "z": "5703e6528b0dc7a0",
        "name": "",
        "topic": "light intensity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5ecf0c7db14398a2",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c48ae843961bb6e",
        "type": "ui_gauge",
        "z": "5703e6528b0dc7a0",
        "name": "",
        "group": "191b23868bb87b28",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "1de38a449ed1ce0a",
        "type": "ui_slider",
        "z": "5703e6528b0dc7a0",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "191b23868bb87b28",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "686052dd0840d506",
                "9c48ae843961bb6e",
                "53792469b2e697e7"
            ]
        ]
    },
    {
        "id": "570c3255d3c7e214",
        "type": "http in",
        "z": "62ba1a5ef035977b",
        "name": "",
        "url": "/iot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "08c4293f8cef4c9f"
            ]
        ]
    },
    {
        "id": "d1b062fe5fc104a5",
        "type": "http response",
        "z": "62ba1a5ef035977b",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "08c4293f8cef4c9f",
        "type": "function",
        "z": "62ba1a5ef035977b",
        "name": "function 1",
        "func": "msg.url='Project'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "602f86020d1e1eee"
            ]
        ]
    },
    {
        "id": "602f86020d1e1eee",
        "type": "template",
        "z": "62ba1a5ef035977b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!DOCTYPE html>\n<html>\n<head>\n<h1 style=\"background-color:DodgerBlue;\">IoT Domain</h1>\n</head>\n<body>\n<p style=\"background-color:Tomato;\">\n<OL>\n<LI> Enter your Name.\n<LI> Registration Number.\n</OL>\n<h4>\n<a href=\"https://projectmark.com/\"> Project Mark</a>\n</h4>\n<form method=\"post\" action=\"/{{url}}\">\n<label for=\"name\">First name:</label><br>\n<input type=\"text\" id=\"fname\" name=\"fname\"><br>\n<label for=\"reg\">Reg No:</label><br>\n<input type=\"text\" id=\"reg\" name=\"reg\" ><br><br>\n<label for=\"topic\">Project Title:</label><br>\n<input type=\"text\" id=\"topic\" name=\"Project Topic\" ><br><br>\n<label for=\"abstract\">Abstract:</label><br>\n<input type=\"text\" id=\"abstract\" name=\"Abstract\" ><br><br>\n<input type=\"submit\" value=\"Submit\">\n<input type=\"reset\" value=\"Reset\" >\n</form>\n</body>\n</html>",
        "output": "str",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "d1b062fe5fc104a5"
            ]
        ]
    },
    {
        "id": "49bbf0234c25d359",
        "type": "json",
        "z": "62ba1a5ef035977b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "c792f831635df3fe"
            ]
        ]
    },
    {
        "id": "777861f10bcf4707",
        "type": "debug",
        "z": "62ba1a5ef035977b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "2c847fc7d74dab71",
        "type": "http in",
        "z": "62ba1a5ef035977b",
        "name": "",
        "url": "/Project",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "49bbf0234c25d359",
                "777861f10bcf4707"
            ]
        ]
    },
    {
        "id": "b24616f7ec1748d0",
        "type": "http response",
        "z": "62ba1a5ef035977b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 720,
        "wires": []
    },
    {
        "id": "c792f831635df3fe",
        "type": "function",
        "z": "62ba1a5ef035977b",
        "name": "function 2",
        "func": "msg.payload=msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 640,
        "wires": [
            [
                "b24616f7ec1748d0"
            ]
        ]
    },
    {
        "id": "4d75050cc40120e7",
        "type": "feedparse",
        "z": "4188ebff080422ca",
        "name": "",
        "url": "https://www.espn.com/espn/rss/news",
        "interval": 15,
        "ignorefirst": false,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "230d1a850db196ee",
                "7165fbf035d7e380",
                "4b5505ae0e3f6da9"
            ]
        ]
    },
    {
        "id": "7165fbf035d7e380",
        "type": "debug",
        "z": "4188ebff080422ca",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "230d1a850db196ee",
        "type": "ui_text",
        "z": "4188ebff080422ca",
        "group": "74f524f3b6c18060",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b5505ae0e3f6da9",
        "type": "switch",
        "z": "4188ebff080422ca",
        "name": "",
        "property": "article.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "NBA",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "34865548a5e12530"
            ]
        ]
    },
    {
        "id": "34865548a5e12530",
        "type": "change",
        "z": "4188ebff080422ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "article title",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "e6033b93a0645d6b",
                "1291a64d2fcaa1d0"
            ]
        ]
    },
    {
        "id": "e6033b93a0645d6b",
        "type": "debug",
        "z": "4188ebff080422ca",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "1291a64d2fcaa1d0",
        "type": "ui_text",
        "z": "4188ebff080422ca",
        "group": "be387544eb9114c5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "579d98744135a130",
        "type": "http in",
        "z": "4188ebff080422ca",
        "name": "",
        "url": "/news",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "fa15d7f3aa1d581c"
            ]
        ]
    },
    {
        "id": "fa15d7f3aa1d581c",
        "type": "function",
        "z": "4188ebff080422ca",
        "name": "function 3",
        "func": "msg.url=\"Feed\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 680,
        "wires": [
            [
                "bf26cb1eb2f0ad31"
            ]
        ]
    },
    {
        "id": "bf26cb1eb2f0ad31",
        "type": "template",
        "z": "4188ebff080422ca",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n<h1 style=\"background-color:Tomato;font-family:century gothic\">News Reader</h1>\n</head>\n<body>\n<p style=\"background-color:Tomato;\">\n<OL>\n<LI> Enter your Name.\n<LI> Enter Phone number and Email.\n</OL>\n<h4>\n<a href=\"https://feeds.feedburner.com/ndtvsports-latest\"> NDTV</a>\n<a href=\"https://www.thehindu.com/business/Economy/feeder/default.rss\"> The Hindu</a>\n<a href=\"https://www.indiatoday.in/rss/1206504\"> India Today</a>\n</h4>\n<form method=\"post\" action=\"/{{url}}\">\n<label for=\"name\">Name:</label><br>\n<input type=\"text\" id=\"fname\" name=\"fname\"><br><br>\n<label for=\"reg\">Phone no:</label><br>\n<input type=\"text\" id=\"reg\" name=\"reg\" ><br><br>\n<label for=\"topic\">Email:</label><br>\n<input type=\"text\" id=\"email\" name=\"email\" ><br><br>\n<input type=\"submit\" value=\"Submit\">\n<input type=\"reset\" value=\"Reset\" >\n</form>\n</body>\n</html>\n",
        "output": "str",
        "x": 320,
        "y": 800,
        "wires": [
            [
                "e0b48ddf6000f668"
            ]
        ]
    },
    {
        "id": "e0b48ddf6000f668",
        "type": "http response",
        "z": "4188ebff080422ca",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "8758f6bf357420bf",
        "type": "http in",
        "z": "4188ebff080422ca",
        "name": "",
        "url": "/Feed",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "0eaf3d9bbd367a98",
                "e8ec522e9b9b2915"
            ]
        ]
    },
    {
        "id": "0eaf3d9bbd367a98",
        "type": "json",
        "z": "4188ebff080422ca",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "590b133d2824e125"
            ]
        ]
    },
    {
        "id": "590b133d2824e125",
        "type": "function",
        "z": "4188ebff080422ca",
        "name": "function 4",
        "func": "msg.payload=msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "f4e1ab644903954e"
            ]
        ]
    },
    {
        "id": "f4e1ab644903954e",
        "type": "http response",
        "z": "4188ebff080422ca",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e8ec522e9b9b2915",
        "type": "debug",
        "z": "4188ebff080422ca",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7eebb8901c081a8c",
        "type": "inject",
        "z": "7fa930940912b2c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CO2\": 9}",
        "payloadType": "json",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a363cb4ca0e99c0d"
            ]
        ]
    },
    {
        "id": "a363cb4ca0e99c0d",
        "type": "http request",
        "z": "7fa930940912b2c5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://demo.thingsboard.io/api/v1/SbF0dHJkdGqY29LtBEkg/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "30e092f84591fa55"
            ]
        ]
    },
    {
        "id": "30e092f84591fa55",
        "type": "debug",
        "z": "7fa930940912b2c5",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "e759bf7c4a869468",
        "type": "comment",
        "z": "7fa930940912b2c5",
        "name": "Change to your things board url",
        "info": "Change to your things board url",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "69f8ceb82ca4d282",
        "type": "inject",
        "z": "cf78eaa476ed5bd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "subject",
                "v": "mouthwash",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"Hello Raju\"",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "f08a2605bd617584",
                "81932f94d15fd3e9"
            ]
        ]
    },
    {
        "id": "81932f94d15fd3e9",
        "type": "debug",
        "z": "cf78eaa476ed5bd8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "f08a2605bd617584",
        "type": "e-mail",
        "z": "cf78eaa476ed5bd8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "jesher.joshua@gmail.com",
        "dname": "",
        "x": 470,
        "y": 320,
        "wires": []
    }
]